<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>메인페이지</title>
</head>
<body>
    <h4>kakao_api_python 3.9버전</h4>
    <h1>메인페이지 입니다.</h1>
    <div>
        <p>테스트 아이피 : 116.255.102.141</p>
        <p>json 요청 링크</p>
        <p>접속 테스트 : http://15.164.252.196/communication_test</p>
        <p>사진 분석 : http://15.164.252.196/analysis/analysis_picture</p>
    </div>
    <div style="margin-top: 100px;">
        <div>
            <a href="/communication_test">접속 테스트 페이지</a>
        </div>
        <div>
            <a href="/analysis/picture_test_form">사진분석 테스트 페이지</a>
        </div>
    </div>
</body>
</html>